a:visited{
    color: yellow;
}
a:active{
    color: greenyellow;
}
a:link{
    color: aqua;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #050e29;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logopic{
    width:150px;
    height:150px;
}

/* Main Section Styles */
main {
    padding: 20px 0;
    margin:30px;
    background-color: #040e46;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.section p {
    line-height: 1.6;
}

/* Footer Styles */
footer {
    background-color: #050e29;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
